body {
    background-color: white
}
.protest-riot-regular {
    font-family: "Protest Riot", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(177, 27, 60);

  }

  .color{
    color: rgb(177, 72, 94);
  }
 #juanito{
  color:rgb(177, 72, 94);
 }
  .container{
    display:block;
    text-align:  center ;
  }

  fieldset{
    
    width: 400px;
    height: 400px;
    align-content: center;
    margin: 0 auto;
    border-color: brown;
  }
  select{
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border-color: brown;
  }
  button{
    height: 30px;
    width: 100px;
    border-radius: 5px;
    background-color: rgb(149, 149, 226);
    color: brown;
    font-family: cursive;
    font-size: larger;
  }
  hr{
    border-color: brown;
  }
  